[Unit]
Description=Dashboard for Chaosdorf resources, realized with smashing
Documentation=https://wiki.chaosdorf.de/Dashboard
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker start --attach --interactive dashpi
ExecStop=/usr/bin/docker stop dashpi

[Install]
WantedBy=multi-user.target
