[Unit]
Description=my little brother, printing is magic!
Documentation=https://github.com/telegnom/labello
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker start --attach --interactive prittstift
ExecStop=/usr/bin/docker stop prittstift

[Install]
WantedBy=multi-user.target
