[Unit]
Description=Python implementation of a telegram bot to access the Chaosdorf's Mete 
Documentation=https://git.darknebu.la/cuminbreeze/Chaosdorf-Mete.git
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker start --attach --interactive telemete
ExecStop=/usr/bin/docker stop telemete

[Install]
WantedBy=multi-user.target
