[Unit]
Description=Standalone MPD Web GUI written in C, utilizing Websockets and Bootstrap/JS
Documentation=https://github.com/chaosdorf/ympd
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker start --attach --interactive ympd
ExecStop=/usr/bin/docker stop ympd

[Install]
WantedBy=multi-user.target
